@import "../../styles/base/variables.scss";
@import "../../styles/base/responsiveMixin.scss";

.btn {
  position: relative;
  height: 32px;
  width: 120px;
  text-align: center;
  overflow: hidden;
  font-size: 0.8rem;
  color: $mainGray;
  cursor: pointer;
  // background-color: yellow;

  &-selected {
    color: $mainDark;
  }

  .btn-en {
    line-height: 32px;
    margin: 0;
    transition: all 0.2s ease-in-out;
  }
  .btn-ch {
    line-height: 32px;
    margin: 0;
  }

  &:hover {
    color: $mainDark;

    .btn-en {
      margin-top: -32px;
    }
  }

  @include atSmall {
  }
}
