@import "../../styles/base/variables.scss";
@import "../../styles/base/responsiveMixin.scss";
.imgGallery {
  button {
    width: 100px;
  }

  img {
    overflow: hidden;

    &:hover {
      transform: scale(1.1);
    }
  }
}
.imgGallerySwitchs {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  // background: red;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.imgGallery-img {
  position: relative;

  .imgGallery-img-cover {
    position: absolute;
    z-index: 5;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 100%;

    font-size: 1rem;
    color: $mainDark;
    text-align: center;

    opacity: 0;
    transition: all 0.5s ease-in;
  }
  img {
    overflow: hidden;
    transition: all 0.5s ease-in;
  }
  h1 {
    font-size: 1.2rem;
  }

  &:hover {
    .imgGallery-img-cover {
      opacity: 1;
    }
    img {
      transform: scale(1.05);
    }
  }
}
