@import "./variables.scss";

html {
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

.btn {
  // background-color: $mainDark;
  // color: $mainLight;
  // text-decoration: none;
  // padding: 0.6rem 1.3rem;
  // border-radius: 10px;
  // border: 0;

  // &:hover {
  //   background-color: $mainLight;
  //   color: $mainDark;
  //   transition: all 0.5s ease-out;
  // }
}

a {
  text-decoration: none;

  color: $mainWhite;
}
